* {
    font-family: monospace;
    color: white;
}

body {
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: black;
    color: white;
    outline: 2px solid white;
    font-size: 1rem;
}

.btn:hover {
    background-color: white;
    color: black;
}

.btn:active {
    background-color: gray;
}

#game-container {
    background-color: black;
    height: 98vh;
    width: 100%;
}

#game {
    height: 100%;
    width: 80%;
    flex-direction: column;
    outline: 2px solid red;
}

ul {
    list-style-type: none;
}