* {
    font-family: monospace;
    color: white;
}

body {
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: black;
    color: white;
    outline: 2px solid white;
    font-size: 1rem;
}

.btn:hover {
    background-color: white;
    color: black;
}

.btn:active {
    background-color: gray;
}