#game-container {
    background-color: black;
    height: 98vh;
    width: 100%;
}

#game {
    height: 100%;
    width: 80%;
    flex-direction: column;
}

#title-container {
    width: 100%;
    height: 35%;
}

#title {
    color: white;
    font-size: 6rem;
    margin-bottom: 11%;
}

#start-btn-container {
    width: 100%;
    height: 50%;
}

#start-btn {
    height: 50px;
    width: 150px;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 9%;
}
